.swal-title {
    margin-top: 10px;
    font-size: 19px;
    text-align: center;
    display: block;
    position: relative;
    letter-spacing: -0.015em;
    font-weight: 400;
    line-height: 1.5384616;
    color: inherit;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #80ccd8;
    font-size: 12px;
    border: 1px solid #80ccd8;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}